<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
 	<!-- 使用dubbo协议暴露服务 -->
    <bean id="userServiceClient" class="com.haier.openplatform.showcase.security.service.impl.UserServiceClientImpl">
    </bean>  
    <dubbo:service interface="com.haier.openplatform.showcase.security.service.UserServiceClient" owner="wangxuzheng" ref="userServiceClient" version="1.0"  protocol="dubbo" delay="-1" registry="qingdaoRegistry690"/>
</beans>